#about {
  width: 100%;
  height: fit-content;
  padding-top: 8vw;
}
#about #about-title {
  font-size: 4vw;
  color: #5d737e;
  margin-left: 8vw;
}
#about #pro-box {
  /* background-color: rgb(202, 216, 216); */
  margin-left: 8.444vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8vw;
}
#about #pro-box #pro-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#about #pro-box #pro-card:not(:first-child) {
  margin-top: 23px;
}
#about #pro-box #pro-card img {
  border-radius: 10px;
  filter: drop-shadow(18.0104px 12.3229px 31.2812px rgba(93, 115, 126, 0.34));
}
#about #pro-box #pro-card #pro-text-info {
  display: flex;
  flex-direction: column;
  margin-left: 4.296vw;
}
#about #pro-box #pro-card h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.844rem;
  align-items: center;
  text-transform: capitalize;
  color: #2d383d;
}
#about #pro-box #pro-card h5 {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 1.894rem;
  align-items: center;
  text-transform: capitalize;
  color: #5d737e;
  margin-top: 6px;
}
#about #pro-box #pro-card p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.133rem;
  align-items: center;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #5d737e;
  margin-top: 40px;
}
#btn-about {
  margin-right: 1.704vw;
  margin-top: 90px;
  float: right;
}
#btn-about:hover {
}

@media screen and (max-width: 576px) {
  #about #pro-box #pro-card img {
    width: 20vw;
  }
  #about #pro-box #pro-card h2 {
    font-size: 6vw;
    margin-top: 2vw;
  }
  #about #pro-box #pro-card h5 {
    font-size: 4vw;
  }
  #about #pro-box #pro-card p {
    font-size: 2vw;
    margin-top: 0;
  }
  #btn-about {
    margin-top: 20px;
    margin-right: 4.704vw;
  }
}
