header {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  transition: all ease-in-out 0.2s;
}
#hamburger {
  display: none;
}
header #header-about {
  font-size: 1.7vw;
  width: 56vw;
  color: #544a4a;
  margin-top: 3vw;
  margin-left: 10vw;
}
header #logo {
  position: relative;
  left: 10vw;
  margin-top: 10.593vw;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
}
header #logo img {
  width: 20.519vw;
}
header #logo h1 {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8vw;
  color: #544a4a;
  margin-left: 8.296vw;
}
header #btns {
  float: right;
  position: relative;
  margin-top: 1.63vw;
  right: 2.074vw;
}
header #btns #btn-h-1 {
  color: #f5f4f4;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.685vw;
  width: 14.667vw;
  height: 5.056vw;
  background: #64b6ac;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5rem;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
header #btns #btn-h-1:hover {
  color: black;
  background-color: #64b6f0;
}

header #btns #btn-h-2 {
  color: #2d383d;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.685vw;
  width: 14.667vw;
  height: 5.056vw;
  background: transparent;
  border: 0.63vw solid #64b6ac;
  box-sizing: border-box;
  border-radius: 2.5rem;
  margin-right: 1.704vw;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
header #btns #btn-h-2:hover {
  color: white;
  background-color: #64b6ac;
}
#menu {
  display: none;
}
#menu:hover {
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  nav {
    display: none;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hamburger-contaier {
    opacity: 0.95;
    z-index: 99;
    width: 100%;
    background-color: #c1dfdb;
    height: 70px;
    position: fixed;
  }
  #hamburger {
    display: block;
    background-color: #c1dfdb;
    height: 70vh;
    width: 100%;
    position: fixed;
    transition: all ease-in-out 0.3s;
    z-index: 99;
    opacity: 0.95;
    border-radius: 10px;
  }
  #hamburger #close-btn {
    opacity: 0.7;
    width: 7%;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  #hamburger #close-btn:hover {
    cursor: pointer;
  }
  #hamburger #ul-mobile {
    text-align: center;
    list-style: none;
    padding-top: 60px;
  }
  #hamburger #ul-mobile .li-mobile {
    margin-bottom: 6vw;
    font-size: 10px;
  }
  .LinkS {
    font-size: 4vh;
    font-weight: 300;
    border: none;
    font-style: normal;
    white-space: nowrap;
    letter-spacing: 2px;
    outline: none;
    justify-self: flex-start;
    color: #5d737e;
    text-decoration: none;
  }
  .LinkS.active {
    font-weight: 900;
  }
  .LinkS:hover {
    cursor: pointer;
    color: #2d383d;
  }
  header #header-about {
    font-size: 2.7vw;
    width: 76vw;
    color: #544a4a;
    text-align: left;
    margin: auto;
    margin-top: 3vw;
    margin-left: auto;
  }
  header #logo {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* left: 50%;
    transform: translate(-50%); */
    margin-top: 25vw;
    height: 39vw;
    position: static;
  }
  header #logo img {
    width: 50vw;
  }

  header #logo h1 {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8vw;

    margin-left: 0;
  }
  header #btns {
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.63vw;
    right: auto;
  }
  header #btns #btn-h-2 {
    margin-right: auto;
    width: 70vw;
    height: 10vw;
    font-size: 3vw;
  }
  header #btns #btn-h-1 {
    width: 70vw;
    height: 10vw;
    font-size: 3vw;
    margin-top: 4vw;
  }
  #menu {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 4vw;
    width: 7vw;
  }
  #hamburger-logo {
    position: absolute;
    bottom: 0;
    left: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
  }
  #hamburger-logo img {
    width: 10vw;
  }
  #hamburger-logo h1 {
    font-size: 2vw;
    /* margin-left: 4vw; */
  }
}
