#services {
  width: 100%;
  height: fit-content;
  padding-top: 14.815vw;
}
#services #srv-container {
  width: 79.778vw;
  height: 55vw;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-left: 12.741vw;
}
#services #srv-container #data-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services #srv-container img {
  width: 15.704vw;
}
#services #srv-container h3 {
  margin-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.519vw;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
  color: #2d383d;
}
#services #srv-container p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.889vw;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #5d737e;
  margin-top: 1vw;
}
#btn-srv {
  margin-right: 1.704vw;
  margin-top: 90px;
  float: right;
}
#btn-srv:hover {
}
@media screen and (max-width: 576px) {
  #services #srv-container {
    width: 79.778vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-left: auto;
    margin: auto;
  }
  #services #srv-container #data-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services #srv-container img {
    width: 28.704vw;
  }
  #services #srv-container h3 {
    font-size: 4vw;
    margin-top: 3vw;
  }
  #services #srv-container p {
    font-size: 3vw;
    margin-top: 1vw;
  }
  #btn-srv {
    margin-top: 20px;
    margin-right: 4.704vw;
  }
}
