label {
  font-style: normal;
  font-weight: 300;
  font-size: 22.75px;
  text-transform: capitalize;
  color: #2d383d;
  margin-bottom: 0px;
}
input,
select {
  /* font-size: 32px; */
  height: 68px;
  background-color: #e3fbf0 !important ;
}
textarea {
  background-color: #e3fbf0 !important ;
}
.btnSubmit {
  margin: auto;
  margin-top: 60px;
}

@media screen and (max-width: 576px) {
  label {
    font-size: 5vw;
  }
  input,
  select {
    height: 45px;
  }
}
